
   <!-- Header Area wrapper Starts -->
   <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <a href="index.html" class="navbar-brand">
            <img src="assets/img/babe.png" alt="">
          </a>
          
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
            <li class="nav-item active">
              <a class="nav-link"  routerLink="/home">
                Home
                <span class="icon-wrapper">
                  <i class="fa fa-chevron-down"></i> 
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/services">
                Services
                <span class="icon-wrapper">
                  <i class="fa fa-chevron-down"></i> 
                  </span>
              </a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/features">
                feature
                <span class="icon-wrapper">
                  <i class="fa fa-chevron-down"></i> 
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/team">
                Team
                <span class="icon-wrapper">
                  <i class="fa fa-chevron-down"></i> 
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/testimony">
                Testimonial
                <span class="icon-wrapper">
                  <i class="fa fa-chevron-down"></i> 
                  </span>
              </a>
            </li>
          </ul>
          <div class="btn-sing float-right">
            <a class="btn btn-border"  routerLink="/login" routerLinkActive="active-link" > Login</a> 
          </div>
          <div class="btn-sing float-right">
            <a class="btn btn-border1"   routerLink="/register" routerLinkActive="active-link">Register</a>
          </div>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="mobile-menu navbar-nav">
        <li>
          <a class="page-scroll" href="#hero-area" >
            Home
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#services">
            Services
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#feature">
            feature
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#team">
            Team
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#testimonial">
            Testimonial
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#pricing">
            Pricing
          </a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">
            Contact
          </a>
        </li>
      </ul>
      <!-- Mobile Menu End -->

    </nav>
    <!-- Navbar End -->

  </header>
<router-outlet> </router-outlet>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>
<!-- Services Section Start -->
<section id="services" class="section-padding"> 
    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Services</h2>
      </div>
      <div class="row">
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon">
              <i class="lni-cog"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Web Development</a></h3>
              <p></p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon">
              <i class="lni-bar-chart"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">ERP INTEGRATION</a></h3>
              <p>
                Elevate your business to new heights and maximize your profits with our comprehensive Odoo (OpenERP) solution. Our cutting-edge software is designed to streamline your operations, enhance efficiency, and drive growth. </p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
            <div class="icon">
              <i class="lni-briefcase"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Business Branding</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
            <div class="icon">
              <i class="lni-pencil-alt"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Content Writing</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.5s">
            <div class="icon">
              <i class="lni-mobile"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">App Development</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-4 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="1.8s">
            <div class="icon">
              <i class="lni-layers"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Digital Marketing</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

         <!-- Footer Section Start -->
         <footer id="footer" class="footer-area section-padding">
          <div class="container">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                  <div class="footer-logo mb-3">
                    <img src="assets/img/babe.png" alt="">
                  </div>
                  <p>Foster Seamless Collaboration, Empower Your Enterprise Team.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                  <h3 class="footer-titel">Company</h3>
                  <ul>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Strategy</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                  <h3 class="footer-titel">About</h3>
                  <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Clients</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                  <h3 class="footer-titel">Find us on</h3>
                  <div class="social-icon">
                      <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                      <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                      <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                      <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                  </div>
                </div>
              </div>
            </div>  
          </div>     
        </footer> 
        <!-- Footer Section End -->
    
        <section id="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Copyright © 2023 WhiteCape All Right Reserved.</p>
              </div>
            </div>
          </div>
        </section>    
